QuitScreen {
    align: center middle;
    width: 80%;
    background: grey 10%;
}

#dialog {
    grid-size: 3;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 60;
    height: 11;
    border: thick $background 80%;
    background: $surface;
    align: center middle;
}

#question {
    column-span: 3;
    height: 1fr;
    width: 1fr;
    content-align: center middle;
}

Button {
    width: 100%;
}